@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-natural-white: #ffffff;
  --color-natural-paper: #f9f7f2;
  --color-natural-clay: #f5f5f0;
  --color-natural-ink: #3c3c3c;
  --color-natural-accent: #8c7d6b;
  --color-natural-olive: #5A5A40;
  --color-natural-border: #e5e1d8;
  --color-natural-muted: #a39e94;
}

@layer base {
  body {
    @apply antialiased text-natural-ink bg-natural-paper;
  }
}
